<script type="text/template" id="game-index-view-template">
    <div id="game-player-list" class="flex-container space-between center-aligned">
      <div id="left-game-player-view"></div>
      <h3 class="vs-icon">
      게임을 찾고 있습니다.
      </h3>
      <div id="right-game-player-view"></div>
    </div>
    <section id="ladder-game-section">
      <div id="count-down-box" class="ui active loader massive inline centered"></div>
    </section>
</script>
