<script type="text/template" id="match-history-view-template">
  <div class="ui label">
    <%%= match_type %>
  </div>
  <div class="ui fluid buttons">
    <div class="ui left <%%= win ? 'positive' : '' %> button">
      <%%= user_card.score %>
    </div>
    <div class="or" data-text=<%%= win ? "승" : "패" %>></div>
    <div class="ui right <%%= win ? '' : 'red' %> button">
      <%%= enemy_user_card.score %>
    </div>
  </div>
  <div class="enemy flex-container center-aligned">
    <img class="ui mini circular image" src="<%%= enemy_user.image_url %>">
    <div><%%= enemy_user.name.length <= 10 ? enemy_user.name : enemy_user_name.slcie(0, 7) + '...' %></div>
  </div>
</script>
