<script type="text/template" id="ladder-index-view-template">
  <div class="my-rating ui container">
  <div class="ui text container" id="my-rating-view">

  </div>
  </div>
  <div class="user-ranking ui text container" id="user-ranking-view">
  </div>
</script>
