<script type="text/template" id="ladder-index-view-template">
  <div class="my-rating ui container" style="margin-top: 5%">
    <%= render partial: 'spa/ladder/my_rating_view' %>
  </div>
  <div class="user-ranking ui container" style="margin-top: 5%">
    <%= render partial: 'spa/ladder/user_ranking_view' %>
  </div>
</script>
