<script type="text/template" id="my-rating-view-template">
<div class="ladder-index-header">
  <div>
    <h2>
      My Rating
    </h2>
  </div>
  <div style="margin-left: 2rem;">
    <button id="ladder-join" class="ui button tiny teal">
      승급전 참여
    </button>

  </div>
</div>

<div class="current-user profile-card ui segment">

</script>
