<script type="text/template" id="my-rating-view-template">
<div class="ladder-index-header flex-container">
  <div>
    <h2>
      My Rating
    </h2>
  </div>
  <button id="ladder-join-button" class="ui button tiny teal">
    승급전 참여
  </button>
</div>

<div class="current-user profile-card ui segment flex-container center-aligned">

</script>
