<script type="text/template" id="my-rating-view-template">
<div class="ladder-index-header flex-container">
  <div>
    <h2>
      My Rating
    </h2>
  </div>
  <div class="join-buttons">
    <button id="join-ladder-button" class="ui button tiny teal">
      승급전 참여
    </button>
    <button id="join-casual-ladder-button" class="ui button tiny teal">
      친선전 참여
    </button>
  </div>
</div>

<div class="current-user profile-card ui segment flex-container center-aligned">

</script>
