<script type="text/template" id="my-rating-view-template">
  <div class="ui column grid">
    <div class="row">
      <div class="four wide column">
        <h2>
          My Rating
        </h2>
      </div>
      <div class="four wide column left aligned">
        <button class="ui button tiny teal">
          승급전 참여
        </button>
      </div>
    </div>
  </div>
  <div class="current-user-profile-card ui segment">

  </div>

</script>
