<script type="text/template" id="user-ranking-view-template">

  <div class="ladder-index-header" style="margin-bottom: 1rem;">
    <div>
      <h2>
        User Ranking
      </h2>
    </div>
    <div class="buttons">
      <button id="ladder-join" class="ui button tiny teal">
        before
      </button>
      <button id="ladder-join" class="ui button tiny teal">
        next
      </button>
    </div>
  </div>

    <div id="user-profile-card-list"></div>

</script>
