<script type="text/template" id="user-ranking-view-template">
  <div class="ui grid">
    <div class="row">
        <h2>
          User Ranking
        </h2>
    </div>
      
    <div class="row">
      <div class="column"></div>
        <button class="ui left floated button tiny teal">before</button>
        <button class="ui right floated button tiny teal">next</button>
      </div>
    </div>
  </div>

    <div id="user-profile-card-list">
      
    </div>
</script>
