<div class="ui text container">

  <div class="ui grid">
    <div class="row">
        <h2>
          User Ranking
        </h2>
    </div>
      
    <div class="row">
      <div class="column">
        <button class="ui left floated button tiny teal">before</button>
        <button class="ui right floated button tiny teal">next</button>
      </div>
    </div>
  </div>

    <%= render partial: 'spa/share/user_profile_card' %>
    <%= render partial: 'spa/share/user_profile_card' %>
    <%= render partial: 'spa/share/user_profile_card' %>
    <%= render partial: 'spa/share/user_profile_card' %>
</div>
