<script type="text/template" id="user-ranking-view-template">

  <div class="ladder-index-header flex-container column-direction">
    <div>
      <h2>
        User Ranking
      </h2>
    </div>
    <div class="buttons flex-container space-between">
      <button id="ladder-page-before-button" class="ui button tiny teal">
        before
      </button>
      <button id="ladder-page-next-button" class="ui button tiny teal">
        next
      </button>
    </div>
  </div>

    <div id="user-profile-card-list"></div>

</script>
