<script type="text/template" id="chat-message-view-template">
  <div class="comment">
    <a class="avatar">
      <img src="<%% image_url %>">
    </a>
    <div class="content">
      <a class="author"><%%= name %></a>
      <div class="metadata">
        <span class="date"><%%= created_at %></span>
      </div>
      <div class="text">
        <p><%%= message %></p>
      </div>  
    </div>
  </div>
</script>
