<script type="text/template" id="chat-message-view-template">
  <div class="comment">
    <a class="avatar">
      <img src="/assets/kristy.png">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>  
    </div>
  </div>
</script>
