<script type="text/template" id="current-user-chat-message-view-template">
  <a class="avatar" style="float: right; margin-right: 1rem;">
    <img src="/assets/kristy.png">
  </a>
  <div class="content" style="margin-left: 0;">
    <div style="display: flex; justify-content: flex-end; padding-right: 1.4rem;">
      <div class="metadata">
        <span class="date" style="margin-right: 1rem;">5 days ago</span>
      </div>
      <a class="author">Eunhkim</a>
    </div>
    <div class="text">
      Dude, this is awesome. Thanks so much
    </div>
    <div class="actions">
      <a class="reply">Reply</a>
    </div>
  </div>
</script>
