<script type="text/template" id="current-user-chat-message-view-template">
  <div class="comment current-user">
    <a class="avatar">
      <img src="<%%= image_url %>">
    </a>
    <div class="content">
      <div class="content-header flex-container">
        <div class="metadata">
          <span class="date"><%%= created_at %></span>
          <a class="author"><%%= name %></a>
        </div>
      </div>
      <div class="text">
        <p><%%= message %></p>
      </div>  
    </div>
  </div>
</script>
