<script type="text/template" id="current-user-chat-message-view-template">
  <div class="comment current-user">
    <a class="avatar">
      <img src="/assets/kristy.png">
    </a>
    <div class="content">
      <div class="content-header flex-container">
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
          <a class="author">Elliot Fu</a>
        </div>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>  
    </div>
  </div>
</script>
