<script type="text/template" id="user-profile-card-template">
  <img class="ui circular small image" src="<%%= image_url %>">
  <div class="content flex-container column-direction">

    <div class="row flex-container baseline">
      <div class="name"><%%= name %></div>
      <div class="rank"> <strong><%%= title %></strong> | <%%= rank %>위</div>
    </div>
    <div class="row">
      <%%= guild ? (guild.name + "(" + guild.anagram + ") " + guild.position) : "소속된 길드가 없습니다." %>
    </div>
    <div class="row">
      <%%= tier + ' ' + win_count + '승 ' + lose_count + '패 '%> <%%=(+win_count + +lose_count > 0) ? ('승률 ' + Math.floor((win_count * 100) / (win_count + lose_count)) + '%') : '' %>
    </div>
    <div class="row profile-trophy">
      토너먼트<i class="trophy icon yellow"></i> <%%= achievement.gold %>개<i class="trophy icon grey"></i> <%%= achievement.silver %> 개   <i class="trophy icon brown"></i> <%%= achievement.bronze %>개
    </div>

  </div>
</script>
