<script type="text/template" id="user-profile-card-template">
  <div class="ui segment">
  <div class="ui grid">
    <div class="four wide column">
      <%# <img class="ui circular small image" src="kristy.png"> %>
    </div>

    <div class="twelve wide column">

      <div class="ui grid">
        <div class="six column row">
          <div class="column">
            <h2 class="ui header fluid"><%%= name %></h2>
          </div>
          <div class="column">
            Beginner
          </div>
          <div class="column">30th</div>
        </div>
        <div class="row">
          소속 길드 없음
        </div>
        <div class="row">
          티어 N승 N패 승률 30%
        </div>
        <div class="row">
          토너먼트(Achievement) 골드컵 N개, 실버컵 N개, 브론즈컵 N개
        </div>
      </div>
    </div>
  </div>
  </div>
</script>