<script type="text/template" id="tournament-index-view-template">
  <h1 class="ui header">My Tournaments</h1>
  <div class="flex-container" id="my-tournaments-view">
    현재 참여중인 토너먼트가 없습니다.
  </div>
  <h1 class="ui header">Open Tournaments</h1>
  <div class="flex-container column-direction" id="open-tournaments-view">
    현재 열려있는 토너먼트가 없습니다.
  </div>
</script>
