<script type="text/template" id="tournament-card-view-template">
  <div class="flex-container information-container">
    <div class="information-element">
      <i class="user icon"></i><span><%%= registered_user_count %>/<%%= max_user_count%>명</span>
    </div>
    <div class="information-element">
      <i class="gift icon"></i><span><%%= incentive_gift || (incentive_title + ' 칭호') %></span>
    </div>
    <div class="information-element">
      <i class="flag icon"></i><span><%%= target_match_score%>점</span>
    </div>
    <div class="information-element">
      <i class="map icon"></i><span><%%= rule.name %></span>
    </div>
  </div>
  <div class="flex-container content">
    <div class="title"><%%= title %></div>
    <div class="start-time">
      <%%= start_date.substr(5, 2) + "월 " + start_date.substr(8, 2) + "일 " + tournament_time.substr(11, 2) + ":00 시작" %>
    </div>
  </div>
  <%% if (!can_register_at_now) { %>
    <div class="ui fluid disabled button">등록마감</div>
  <%% } else if (registered_user_count == max_user_count) { %>
    <div class="ui fluid disabled button">정원초과</div>
  <%% } else { %>
    <div data-tournament-id="<%%= id %>" class="ui fluid button">참여하기</div>
  <%% } %>
</script>
