<script type="text/template" id="tournament-index-view-template">
  <div class="ui text container" id="my-tournaments-view">

  </div>
  <div class="ui text container" id="open-tournaments-view">
  </div>
</script>
