<script type="text/template" id="tournament-index-view-template">
  <div class="header"><h2>My Tournaments</h2></div>
  <div class="flex-container" id="my-tournaments-view">
    현재 참여중인 토너먼트가 없습니다.
  </div>
  <div class="header"><h2>Open Tournaments</h2></div>
  <div class="flex-container column-direction" id="open-tournaments-view">
    현재 열려있는 토너먼트가 없습니다.
  </div>
</script>
