
<div class="ui middle aligned selection list" style= "height: 90%">

<!-- <script src="logon_list_element.html"></script> -->
<div class="item">
  <div class="content header">
    <!-- green or yellow or grey -->
    <a class="ui green mini empty circular label"></a>
    eunhkim
  </div>
</div>

<div class="item">
  <div class="content header">
    <!-- green or yellow or grey -->
    <a class="ui yellow mini empty circular label"></a>
    jujeong
  </div>
</div>

</div>
