<div class="ui middle aligned selection list">
  <div class="item">
    <%= render partial: 'spa/appearance/sidebar_user_list_unit' %>
  </div>
  <div class="item">
    <%= render partial: 'spa/appearance/sidebar_user_list_unit' %>
  </div>
</div>
