<div class="ui center aligned container">
  <div style="position:absolute; top:100px; right:170px" class="ui mini pointing vertical menu invisible">
    <a class="item center aligned">
      유저정보
    </a>
    <a class="item">
      대화하기
    </a>
    <a class="item">
      대화차단
    </a>
    <a class="item">
      친구추가
    </a>
    <a class="item">
      대전신청
    </a>
    <a class="item">
      User ban
    </a>
  </div>
</div>
