<script type="text/template" id="appearance-user-list-unit-template">
  <div class="content header">
    <a class="ui mini empty circular label" data-status="<%%= status %>"></a>
    <%%- name %>
  </div>
</script>
