<script type="text/template" id="live-index-view-template">
  <h1 class="ui header live-header">Live broadcasts</h1>
  <div class="ui four item menu">
    <a data-live-type="dual" class="item dual">Dual</a>
    <a data-live-type="ladder" class="item ladder">Ladder</a>
    <a data-live-type="tournament" class="item tournament">Tournament</a>
    <a data-live-type="war" class="item war">War</a>
  </div>
  <div id="live-card-list-view" class="flex-container">
  
  </div>
</script>
