<script type="text/template" id="live-card-view-template">
  <div class="title">
    <%%= title %>
  </div>
  <div class="enemy flex-container center-aligned">
    <img src="<%%= users[0].image_url %>" alt="" class="ui mini circular image">
    <div class="name"><%%= users[0].name %></div>
    <span class="vs-icon">VS</span>
    <img src="<%%= users[1].image_url %>" alt="" class="ui mini circular image">
    <div class="name"><%%= users[1].name %></div>
  </div>

  <div data-match-id="<%%= id %>" class="ui fluid watch button">관전하기</div>

</script>
