<script type="text/template" id="alert-modal-view-template">
  <div class="header">
    <%%= subject %>
  </div>
  <div class="content">
    <%%= description %>
  </div>
  <div class="actions">
    <div class="ui negative button">
      취소
    </div>
    <div class="ui positive right labeled icon button">
      동의
      <i class="checkmark icon"></i>
    </div>
  </div>
</script>
