<script type="text/template" id="direct-chat-view-template">
  <div class="ui segment" style="height: 600px">

    <%# Kristy unique_anagrm 대전신청버튼 %>
      <div class="ui container row" style="display: flex; align-items: center; padding-bottom: 0px">
        <div style="margin-left: 1rem; font-weight: 700;">Kristy</div>
        <div style="margin-left: 1rem">GAM12</div>
        <button class="ui button" style="margin-left: auto; margin-right: 1rem">
          대전신청
        </button>
      </div>
      <div class="ui divider"></div>


    <div class="ui minimal comments" style="height: 370px; overflow-y: auto;"></div>

    <form class="ui reply form">
      <div class="field">
        <textarea style="min-height: 4em; height: 4em;"></textarea>
      </div>
      <div class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Add Reply
      </div>
    </form>


</script>
