<script type="text/template" id="direct-chat-view-template">
  <div class="ui segment">

  <%# Kristy unique_anagrm 대전신청버튼 %>
    <div class="ui container flex-container center-aligned direct-chat-member row">
      <div class="name"><%%= name %></div>
      <div class="guild-name"><%%= anagram %></div>
      <button class="ui dual-join button">
        대전신청
      </button>
    </div>
    
    <div class="ui divider"></div>

    <div class="ui minimal comments">
    </div>
  </div>

  <form class="ui reply form">
    <div class="field">
      <textarea id="reply-field"></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Message
    </div>
  </form>

</script>
