<script type="text/template" id="image-upload-modal-view-template">
  <div class="header">
    이미지 업로드
  </div>
  <div class="content">
    <%# <%%= description %>
    <div class="flex-container image-name">
      <input type="file" class="inputfile" id="embedpollfileinput" />
    </div>
  </div>

  <div class="ui middle aligned center aligned grid container">
    <label class="ui upload huge teal right floated button">
      <i class="ui upload icon"></i> 
      Upload image
    </label>
  </div>
  <div class="ui negative message"></div>

</script>
