<script type="text/template" id="input-modal-view-template">
  <i class="close icon"></i>
  <div class="header">
    <%%= subject %>
  </div>
  <div class="content">
    <div class="ui form">
      <h4 class="ui dividing header"><%%= description %></h4>
      <div class="field">
        <textarea></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button">취소</div>
    <div class="ui green button">전송</div>
  </div>
</script>
