<script type="text/template" id="main-buttons-view-template">
  <%% if (position != "user") { %>
    <div class="ui admin button fluid">
      Admin
    </div>
  <%% } %>
  <div><%%= position %></div>
  <div class="ui help button fluid">
    Help
  </div>
  <div class="ui logout button fluid">
    Logout
  </div>
</script>
