<div id="nav-bar-view" class="ui padded grid" style="z-index: 2;">
  <div class="ui pointing top fixed fluid menu">
    <a href="#/" class="item" data-nav-value="home">Home</a>
    <a href="#/chatrooms" class="item" data-nav-value="chat">Chat</a>
    <a href="#/guilds" class="item" data-nav-value="guild">Guild</a>
    <a href="#/ladder" class="item" data-nav-value="ladder">Ladder</a>
    <a href="#/live" class="item" data-nav-value="live">Live</a>
    <a href="#/war" class="item" data-nav-value="war">War</a>
    <a href="#/tournaments" class="item" data-nav-value="tournament">Tournament</a>
  </div>
</div>
