<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="nav-bar-view" class="ui padded grid" style="z-index: 2">
      <div class="ui pointing top fixed fluid menu">
        <a href="#/" class="active item">Home</a>
        <a class="item">Chat</a>
        <a class="item">Guild</a>
        <a href="#/ladder/1" class="item">Ladder</a>
        <a class="item">Live</a>
        <a class="item">War</a>
        <a class="item">Tournament</a>
      </div>
    </div>
  </body>
  <script>
    function changeActiveItem(e) {
      console.log(e.target);
      $(".ui.top.fixed.menu a.active").removeClass("active");
      e.target.classList.add("active");
    }
    $(".ui.top.fixed.menu a").on("click", changeActiveItem);
  </script>
</html>
