<script type="text/template" id="guild-detail-view-template">

  <div class="ui text container">
    <h1 class="my-guild-header ui header">Guild</h1>
    <div class="guild-profile-view">
      <div class="current-user-guild guild-profile-card ui segment flex-container center-aligned"></div>
    </div>

    <h1 class="member-list-header ui header">Member List</h1>
    <div>
      <div class="member-rank-page-buttons flex-container space-between">
        <button id="member-page-before-button" class="ui button tiny teal">
          before
        </button>
        <button id="member-page-next-button" class="ui button tiny teal">
          next
        </button>
      </div>
    </div>
    <div class="member-ranking-list"></div>

    <h1 class="war-history-header ui header">War History</h1>
    <div class="war-history-list"></div>
  </div>

</script>
