<script type="text/template" id="guild-profile-card-template">
  <img class="ui circular small image" src="<%%= guild.image_url %>">
  <div class="content flex-container column-direction">
    <div class="row flex-container baseline">
      <div class="name"><%%= guild.name %></div>
      <div class="stat">
        <strong><%%= guild.anagram %></strong> | <%%= guild.rank %>위
        <%% if (current_user_guild_id == guild.id) { %>
          (<%%= current_user_guild_position %>)
        <%% } %>
      </div>
    </div>
    <div class="row">
      <%%= '길드 오너: ' + guild.owner %>
    </div>
    <div class="row">
      <%%= '길드원 수: ' + guild.num_of_member %>
    </div>
    <div class="row profile-trophy">
      <%%= '길드 포인트: ' + guild.point %>
    </div>
  </div>

  <div id="guild-profile-card-buttons-view" class="guild-profile buttons content flex-container column-direction">
</script>
