<script type="text/template" id="guild-index-view-template">

  <div class="my-guild ui text container">
    <div class="guild-index-headers">
      <h1>My Guild</h1>
      <div class="guild-index-buttons">
        <button id="guild-manage-button" class="ui button mini teal">
          길드보기
        </button>
        <button id="guild-leave-button" class="ui button mini red">
          길드탈퇴
        </button>
      </div>
    </div>


    <div class="guild-profile-view ui text container">
      <div class="current-user-guild profile-card ui segment flex-container center-aligned"></div>
    </div>
  </div>

  <h1 class="ui header">War Request</h1>
  <div class="war-request-card-list ui text container">
  </div>

  <h1 class="ui header">Guild Ranking</h1>
  <div class="guild-ranking-list-view flex-container column-direction">
  </div>

</script>
