<script type="text/template" id="guild-profile-card-buttons-view-template">

  <%% if (guild_show_button) { %>
  <button class="guild-show-button ui button mini teal">
    길드보기
  </button>
  <%% } if (current_user_guild_id == guild.id && current_user_guild_position != "master") { %>
  <button class="guild-leave-button ui button mini red">
    길드탈퇴
  </button>
  <%% } if (current_user_guild_id != guild.id && current_user_guild_position == "master") { %>
  <button class="war-request-create-button ui button mini red">
    전쟁제안
  </button>
  <%% } if (!current_user_guild_id) { %>
  <button class="guild-join-button ui button mini pink">
    길드가입
  </button>
  <%% } %>

</script>
