<script type="text/template" id="guild-profile-card-template">
  <img class="ui circular small image" src="<%%= image_url %>">
  <div class="content flex-container column-direction">
    <div class="row flex-container baseline">
      <div class="name"><%%= name %></div>
      <div class="stat">
        <strong><%%= anagram %></strong> | <%%= rank %>위 
        <%% if (current_user_guild_id == id) { %>
          (<%%= current_user_guild_position %>)
        <%% } %>
      </div>
    </div>
    <div class="row">
      <%%= '길드 오너: ' + owner %>
    </div>
    <div class="row">
      <%%= '길드원 수: ' + num_of_member %>
    </div>
    <div class="row profile-trophy">
      <%%= '길드 포인트: ' + point %>
    </div>
  </div>
  <div class="guild-profile buttons content flex-container column-direction">
    <button id="guild-show-button" class="ui button mini teal">
      길드보기
    </button>
    <%% if (current_user_guild_id == id && current_user_guild_position != "owner") { %>
    <button id="guild-leave-button" class="ui button mini red">
      길드탈퇴
    </button>
    <%% } if (current_user_guild_id != id && current_user_guild_position == "owner") { %>
    <button id="war-request-create-button" class="ui button mini red">
      전쟁제안
    </button>
    <%% } if (!current_user_guild_id) { %>
    <button id="guild-join-button" class="ui button mini purple">
      길드가입
    </button>
    <%% } %>
  </div>
</script>
