<script type="text/template" id="guild-index-view-template">

  <%% if (guild !== null) { %>
    <h1 class="ui header">My Guild</h1>
    <div class="guild-profile-view ui text container">
      <div class="current-user-guild profile-card ui segment flex-container center-aligned"></div>
    </div>

    <h1 class="ui header">War Request</h1>
    <div class="war-request-card-list ui text container">
    </div>
  <%% } %>

  <h1 class="ui header">Guild Ranking</h1>
  <div class="guild-ranking-list ui text container">
  </div>

</script>
