<script type="text/template" id="guild-member-list-buttons-view-template">

  <%% if (assign_button) { %>
    <button id="officer-assign-button" class="ui button mini teal">
      관리자 임명
    </button>
  <%% } if (ban_button) { %>
    <button id="member-ban-button" class="ui button mini red">
      길드원 제명
    </button>
  <%% } if (dismiss_button) { %>
    <button id="officer-dismiss-button" class="ui button mini purple">
      관리자 해임
    </button>
  <%% } %>

</script>