<script type="text/template" id="guild-member-ranking-view-template">

  <div class="guild-member-ranking-header flex-container column-direction">
    <div class="buttons flex-container space-between">
      <button id="member-page-before-button" class="ui button tiny teal">
        before
      </button>
      <button id="member-page-next-button" class="ui button tiny teal">
        next
      </button>
    </div>
  </div>

    <div id="guild-member-profile-card-list"></div>

</script>
