<script type="text/template" id="guild-detail-view-template">

  <h1 class="ui header">Guild</h1>
  <div class="guild-profile-view ui text container">
    <div class="guild profile-card ui segment flex-container center-aligned"></div>
  </div>

  <h1 class="ui header">Member List</h1>
  <div class="member-ranking-list ui text container">
  </div>

  <h1 class="ui header">War History</h1>
  <div class="war-history-list ui text container">
  </div>

</script>
