<script type="text/template" id="guild-create-view-template">
  <h1 class="ui header">길드 생성하기</h1>
  <form class="ui form">
    <div class="field">
      <label>길드 이름 (10자 이내)</label>
      <input type="text" placeholder="길드의 이름을 입력해주세요." name="name">
    </div>
    <div class="field anagram-header">
      <label>아나그램 (@ 포함 5자)</label>
      <i class="anagram-definition-icon question circle outline icon link"></i>
    </div>
    <div class="anagram-input">
      <span>@</span>
      <input type="text" placeholder="길드의 아나그램을 입력해주세요." name="anagram">
    </div>
    <div class="field">
      <label>이미지업로드</label>
      <div class="flex-container image-name">
        <input type="file" class="inputfile" id="embedpollfileinput">
      </div>
    </div>

    <div class="flex-cotnainer buttons">
      <div class="guild-create-button ui teal create button">길드생성</div>
      <div Class="guild-create-cancel-button ui red cancel button">생성취소</div>
    </div>
  </form>
  <div class="ui negative message"></div>

</script>
