<div id="input-modal-view" class="ui tiny modal transition"></div>
<div id="rule-modal-view" class="ui tiny modal transition"></div>
<div id="alert-modal-view" class="ui tiny modal transition"></div>
<div id="info-modal-view" class="ui tiny modal transition"></div>
<div id="image-upload-modal-view" class="ui tiny modal transition"></div>
<div id="table-modal-view" class="ui tiny modal transition"></div>
