/* ==========================================================================
   GLOBAL AREA
   ========================================================================== */

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}

#root .ui.mini.pointing.vertical.menu {
  text-align: center;
}

#root-grid {
  height: 100%;
}

#main-view-container {
  margin-left: 0;
}

#main-view-container .ui.dividing.header {
  width: 100%;
}

.ui.centered.small.circular.image {
  margin-top: 14px;
  margin-bottom: 14px;
}

.ui.borderless.menu {
  box-shadow: none;
  flex-wrap: wrap;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}

.ui.selection.list .list > .item,
.ui.selection.list > .item {
  padding: 0.5em 5em;
}

.flex-container {
  display: flex;
}

.flex-container.column-direction {
  flex-direction: column;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container.center-aligned {
  align-items: center;
}

.flex-container.baseline {
  align-items: baseline;
}

.top-margin {
  margin-top: 8rem;
}

/* ==========================================================================
                                PERSIST VIEW
   ========================================================================== */

@media (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
}

/* SIGN IN VIEW
   ========================================================================== */

#sign-in-view {
  width: 300px;
  margin-top: 20vw;
  margin-left: calc(50% - 110px);
}

#sign-in-view .field:nth-child(n + 2) {
  margin-top: 3.5rem;
}

#sign-in-view .submit.button {
  margin-top: 7.5rem;
}

#sign-in-view .sign-up.message {
  text-align: center;
}

/* INVITE VIEW
   ========================================================================== */

#invite-view {
  position: fixed;
  bottom: 0;
  right: 590px;
}

/* DIRECT CHAT VIEW
   ========================================================================== */

#direct-chat-view {
  position: fixed;
  bottom: 0;
  right: 230px;
  width: 350px;
  height: 600px;
}

#direct-chat-view > .ui.segment {
  height: 600px;
}

#direct-chat-view .direct-chat-member {
  display: flex;
  padding-bottom: 0px;
}

#direct-chat-view .name {
  margin-left: 1rem;
  font-weight: 700;
}

#direct-chat-view .guild-name {
  margin-left: 1rem;
}

#direct-chat-view .dual-join.button {
  margin-left: auto;
  margin-right: 1rem;
}

#direct-chat-view .ui.minimal.comments {
  height: 370px;
  overflow-y: auto;
}

#direct-chat-view .comment {
  padding-right: 0.5rem;
}

#direct-chat-view .ui.reply.form {
  margin: 0 1rem 1rem 1rem;
}

#direct-chat-view #reply-field {
  min-height: 4em;
  height: 4em;
}

#direct-chat-view .current-user .avatar {
  float: right;
}

.ui.comments .current-user.comment > .avatar ~ .content {
  margin-left: 0;
  width: 257px;
}

.ui.comments .current-user.comment .text {
  width: 257px;
  text-align: right;
}

.ui.comments .current-user.comment .content-header {
  justify-content: flex-end;
}

/* ERROR VIEW
   ========================================================================== */

#error-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-view .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding-top: 2rem;
  background-color: #ffffff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#error-view .circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #f0f4fd;
}

#error-view .code {
  font-size: 4rem;
  display: contents;
  font-weight: 900;
  color: #4c4949;
}

#error-view .title {
  font-size: 1.5rem;
  margin-top: 1.2rem;
  font-weight: 900;
}

#error-view .description {
  margin-top: 2rem;
  width: 80%;
  font-size: 1rem;
  text-align: center;
}

#error-view .button {
  margin-top: 1.5rem;
  width: 50%;
  cursor: pointer;
}

/* ==========================================================================
   APPEARANCE VIEW
   ========================================================================== */

#appearance-view {
  position: fixed;
  height: 100vh;
  /* background-color: #ffffff; */
  background-color: #ffffff;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-left: solid;
  border-width: thin;
  right: 0px;
  z-index: 102;
  width: 220px !important;
}

#appearance-view .ui.menu > a.item {
  padding: 10px 20px;
  line-height: 20px;
  color: #337ab7;
  border-radius: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
}

#appearance-view .ui.menu > a.item.active {
  background-color: #337ab7;
  color: white;
  border: none !important;
}

#appearance-view .ui.menu > a.item:hover {
  background-color: #eee;
  color: #23527c;
}

#appearance-view .item .circular[data-status="playing"] {
  background-color: orange;
}

#appearance-view .item .circular[data-status="online"] {
  background-color: green;
}

#appearance-view .item .circular[data-status="offline"] {
  background-color: grey;
}

#appearance-view #user-list-area {
  height: calc(100vh - 12rem);
  overflow-y: auto;
  border-bottom: solid;
  border-bottom-color: gray;
  border-bottom-width: thin;
  margin-top: 15%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#appearance-view #main-buttons-view {
  margin-top: 0;
  position: fixed;
  bottom: 0;
  height: 10rem;
  width: 220px;
}

/* IMAGE UPLOAD MODAL VIEW
   ========================================================================== */

#image-upload-modal-view .grid.container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#image-upload-modal-view .image-name.flex-container {
  justify-content: center;
}

/* ==========================================================================
   SHARE VIEW
   ========================================================================== */

/* PROFILE VIEW
   ========================================================================== */

.profile-trophy > i {
  margin-left: 0.5rem;
}

.profile-card .small.image {
  margin-bottom: 0;
  width: 120px;
}

.profile-card .content {
  margin-left: 2rem;
  margin-top: -1rem;
}

.profile-card .row:not(:first-child) {
  margin-top: 0.2rem;
}

.profile-card .name {
  font-weight: 900;
  font-size: 1.5rem;
}

.profile-card .rank {
  margin-left: 1rem;
}

/* ==========================================================================
   USER INDEX VIEW
   ========================================================================== */

#user-index-view {
  max-width: 740px;
  margin-bottom: 4rem;
}

#user-index-view #user-index-buttons-view {
  display: flex;
  margin-bottom: 1.5rem;
}

#user-index-view #user-index-buttons-view .right-buttons {
  margin-left: auto;
}

#user-index-view h1 {
  margin-bottom: 0;
}

#user-index-view .user-profile-view {
  margin-bottom: 4rem;
}

#user-index-view #two-factor-toggle {
  padding-top: 0.3rem;
  margin-left: 1rem;
}

#user-index-view .ui.card {
  min-width: 355px;
}

#user-index-view .ui.card:nth-child(odd) {
  margin: 1.5rem 1rem 0 0;
}

#user-index-view .ui.card:nth-child(even) {
  margin: 1.5rem 0 0 1rem;
}

#user-index-view #guild-invitation-list-view {
  flex-wrap: wrap;
  padding-top: 1.5rem;
  margin-bottom: 4rem;
}

#user-index-view #guild-invitation-list-view .ui.card .meta {
  margin-top: 0.5rem;
}

#user-index-view #guild-invitation-list-view .ui.card .description {
  margin-top: 1rem;
}

#user-index-view .match-history-list-view {
  padding-top: 1.5rem;
}

#user-index-view .match-history-view {
  justify-content: space-between;
  align-items: stretch;
  height: 33px;
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  #user-index-view #guild-invitation-list-view {
    flex-direction: column;
    align-items: center;
  }

  #user-index-view .ui.card.mobile-only {
    margin: 1.5rem 0 0 0;
  }
}

#user-index-view .match-history-view .label {
  width: 15vw;
  font-size: 1rem;
  text-align: center;
  margin-right: 2rem;
}

#user-index-view .ui.fluid.buttons {
  width: 40vw;
}

#user-index-view .match-history-view .button {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-index-view .match-history-view .right.button {
  margin-right: 1.5rem;
}

#user-index-view .match-history-view .enemy {
  width: 20vw;
}

#user-index-view .match-history-view .enemy div:nth-child(2) {
  margin-left: 1rem;
}

#user-index-view .match-history-view div[data-text] {
  font-size: 1.2rem;
  margin-top: -0.4rem;
}

/* ==========================================================================
   LADDER INDEX VIEW
   ========================================================================== */

#ladder-index-view {
  margin-top: 8rem;
}

#user-ranking-view .buttons {
  margin-top: 1rem;
}

#ladder-index-view #ladder-join-button {
  margin-left: 2rem;
}

#ladder-index-view .user-ranking.ui.container {
  margin: 5% 0;
}

#user-ranking-view .ladder-index-header .buttons {
  margin-bottom: 1rem;
}

/* ==========================================================================
   GAME INDEX VIEW
   ========================================================================== */

#game-index-view {
  background-image: url("/assets/game_index.jpg");
  min-width: 1024px;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

#game-index-view #game-player-list {
  margin: 3rem 0;
  width: 900px;
}

#game-index-view .profile-card {
  width: 420px;
  height: 150px;
}

#game-index-view .vs-icon {
  color: white;
}

#game-index-view #count-down-box {
  text-align: center;
  font-size: 3rem;
  margin-top: 20%;
}

#game-index-view #game-player-list #left-game-player-view {
  border-left: 5px solid #db2828;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#game-index-view #game-player-list #right-game-player-view {
  border-right: 5px solid #2185d0;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#game-index-view #ladder-game-section {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  width: 900px;
  height: 400px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
