<div class="ui container">

  <div class="ui raised card">
    <div class="content">
      <div class="header">
        Kristy
        <div class="right floated image">
          <img class="ui avatar image" src="kristy.png">
        </div>
      </div>
      <div class="meta">
        <span class="category">
          GAM
        </span>
      </div>
      <div class="description">
        <p>
          yohlee님이 대전을 신청하셨습니다.
        </p>
      </div>
    </div>
    <div class="extra content">
      <div class="ui centered grid">
        <div class="computer only row">
          <button class="ui red basic button">
            Cancel (5)
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui raised card">
    <div class="content">
      <div class="header">
        Kristy
        <div class="right floated image">

          <img class="ui avatar image" src="kristy.png">
        </div>
      </div>
      <div class="meta">
        <span class="category">
          GAM
        </span>
      </div>
      <div class="description">
        <p>
          yohlee님이 대전을 신청하셨습니다.
        </p>
      </div>
    </div>
    <div class="extra content">
      <div class="ui centered grid">
        <div class="computer only row">
          <button class="ui green basic button">
            Approve (10)
          </button>
          <button class="ui red basic button">
            Decline
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

 <%= render partial: 'direct_chat' %>
