<div id="main-view" class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
  style="margin-left: 0px">
  <div class="ui padded grid">
    <!-- <div class="row">
    <h1 class="ui huge dividing header">Dashboard</h1>
  </div> -->

    <div class="temp-view">
      <%#= render partial: 'hello/home/home_index_view' %>
      <%= render partial: 'hello/ladder/ladder_index_view' %>
    </div>


  </div>
</div>
