<div class="row">
  <div class="three wide column">
    <button class="ui disabled button" data-text="승급전">
      승급전
    </button>
  </div>

  <div class="ten wide column">

    <div class="ui buttons fluid">
      <button class="ui green button">3</button>
      <div class="or" data-text="승"></div>
      <button class="ui grey button">0</button>
    </div>

  </div>
  <div class="three wide column">
    <img class="ui avatar image" src="assets/kristy.png">
    anna
  </div>
</div>
