<div class="ui text container">
  <h2>대전 기록</h2>
  <div class="ui segment">
    <div class="ui grid">
      <%= render partial: 'match_history_card' %>
      <%= render partial: 'match_history_card' %>
      <%= render partial: 'match_history_card' %>
      <%= render partial: 'match_history_card' %>
    </div>
  </div>
</div>
