<script type="text/template" id="appearance-view-template">
  <div class="ui container" style="margin-top: 30%">
    <h3 class="ui center aligned teal header">Friends</h3>
    <div id="sidebar-freind-user-list-view">
      <%= render partial: 'spa/appearance/sidebar_user_list' %>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui container" style="margin-top: 20%">
    <h3 class="ui center aligned teal header">Log-on</h3>
    <div id="sidebar-online-user-list-view">
      <%= render partial: 'spa/appearance/sidebar_user_list' %>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui container" style="margin-top: 20%">
    <div class="ui center aligned teal header logout button fluid">
      Logout
    </div>
  </div>
</script>
