<div class="ui padded grid">
  <%# <div class="row">
    <h1 class="ui huge dividing header">Dashboard</h1>
  </div> %>

  <div id="main-view-container">
    <%#= r-ender partial: 'spa/home/home_index_view' %>
    <%#= render partial: 'spa/ladder/ladder_index_view' %>
  </div>

</div>

