<div id="navbar-view" class="ui tablet computer only padded grid" style="z-index: 2;">
  <div class="ui pointing top fixed fluid menu">
    <a class="active item">Home</a>
    <a class="item">Chat</a>
    <a class="item">Guild</a>
    <a class="item">Ladder</a>
    <a class="item">Live</a>
    <a class="item">War</a>
    <a class="item">Tournament</a>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div class="ui top fixed fluid pointing menu">
      <a class="active item">Home</a>
      <a class="item">Chat</a>
      <a class="item">Guild</a>
      <a class="item">Ladder</a>
      <a class="item">Live</a>
      <a class="item">War</a>
      <a class="item">Tournament</a>
      <div class="ui fitted divider"></div>
    </div>
  </div>
</div>
