<div class="ladder-index-view">

  <div class="my-rating ui container" style="margin-top: 5%">
    <%= render partial: 'hello/ladder/my_rating_view' %>
  </div>
  <div class="user-ranking ui container" style="margin-top: 5%">
    <%= render partial: 'hello/ladder/user_ranking_view' %>
  </div>

</div>