<script type="text/template" id="user-index-view-template">
  <div id="user-index-buttons-view" class="ui text container">
  </div>

  <div class="user-profile-view" class="ui text container">
  </div>

  <%% if(is_current_user){ %>
  <h1 class="ui header">길드 초대</h1>
  <div id="guild-invitation-list-view" class="flex-container space-between">
  </div>
  <%% } %>

  <h1 class="ui header">매치 히스토리</h1>
  <div class="match-history-list-view flex-container column-direction">
  </div>
</script>
