<script type="text/template" id="sign-up-view-template">
<form class="ui form">
  <div class="field">
    <label>Intra Id</label>
    <input type="text" name="name" placeholder="intra id를 입력해주세요.">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="password">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email을 입력해주세요.">
  </div>
  <div class="ui fluid teal button" type="submit">submit</div>
</form>
<div class="ui negative message"></div>
</script>
