<script type="text/template" id="direct-chat-view-template">

  <div class="ui segment">
    <div class="ui grid">

    <%# Kristy unique_anagrm 대전신청버튼 %>
      <div class="row">
        <div class="four wide column">Kristy</div>
        <div class="eight wide column">GAM</div>
        <div class="four wide column">
          <button class="ui button">
            대전신청
          </button>
        </div>
      </div>
      <div class="ui divider"></div>


      <div class="row">
        <div class="two wide column">
          <img class="ui small image" src="assets/kristy.png">
        </div>
        <div class="fourteen wide column">
          <div class="ui grid">
            <div class="two column row">

              <div class="two wide column">
                <strong>Kristy</strong>
              </div>
              <div class="four wide column">Today at 5:42</div>

            </div>
            <div class="row">
              Message
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="two wide column">
          <img class="ui small image" src="assets/kristy.png">
        </div>
        <div class="fourteen wide column">
          <div class="ui grid">
            <div class="two column row">

              <div class="two wide column">
                <strong>Kristy</strong>
              </div>
              <div class="four wide column">Today at 5:42</div>

            </div>
            <div class="row">
              Message
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="row">
        <div class="ui transparent icon input" style="margin-left: 3%; width: 90%">
          <input type="text" placeholder="텍스트를 입력해주세요...">
          <i class="edit icon"></i>
        </div>
      </div>
    </div>
  </div>
</script>
