<script type="text/template" id="war-battle-view-template">
  <div class="ui card">
    <div class="content">
      <div class="description">
        <%%= message %>
      </div>
    </div>

    <%% if (button) { %>
      <div class="extra content">
        <div class="ui centered grid">
          <div class="row">
            <button class="ui red basic button" data-event-name=<%%= button_event %>>
              <%%= button_message %> <span class="remain-time"></span>
            </button>
          </div>
        </div>
      </div>
    <%% } %>
  </div>
</script>
