<script type="text/template" id="war-history-view-template">

  <div class="ui label positive bet-point">
    <%% if (war_result == "승") { %>
      <i class="large angle double up icon green"></i>
    <%% } else { %>
      <i class="large angle double down icon red"></i>
    <%% } %>
    <%%= bet_point %>
  </div>

  <div class="ui fluid buttons">
    <%% if (war_result == "승") { %>
      <div class="ui left positive button">
    <%% } else { %>
      <div class="ui left button">
    <%% } %>
      <%%= point_of_current_guild %>
    </div>
    <div class="or" data-text=<%%= war_result %>></div>
    <%% if (war_result == "패") { %>
      <div class="ui right red button">
    <%% } else { %>
      <div class="ui right button">
    <%% } %>
      <%%= point_of_opponent_guild %>
    </div>
  </div>
  <div class="enemy flex-container center-aligned">
    <img class="ui mini circular image" src="<%%= opponent_guild_profile.image_url %>">
    <div><%%= opponent_guild_profile.anagram %></div>
  </div>
</script>
