<div class="home-index-view">
  <div class="ui container" style="margin-top: 5%">
    <%= render partial: 'profile_view' %>
  </div>
  <div class="ui container" style="margin-top: 5%">
    <%= render partial: 'match_history_view' %>
  </div>
</div>
