<script type="text/template" id="error-view-template">
<div class="circle">
  <div class="box">
    <div class="code">
      <%%= code %>
    </div>
    <div class="title">
      <%%= subject %>
    </div>
    <div class="ui text container description">
      <%%= description %>
    </div>
    <a href="#/" class="ui basic black button">
      Go Home
    </a>
  </div>
</div>
</script>
