<script type="text/template" id="chat-room-card-view-template">
<div class="card-header">
  <div>protect icon</div>
  <div>
    <img src="/images/avatar/large/elliot.jpg" class="ui mini image"/>
    <div>name</div>
  </div>
</div>
<div class="subject">subject</div>
<div class="extra-content">
  <div class="count">
    <i>icon</i>
    <span class="person-count">23/32</span>
  </div>
  <div class="position">
    member
  </div>
</div>
<div class="join button">입장하기</div>
</script>
