<script type="text/template" id="chat-member-menu-view-template">
 <div class="ui mini pointing vertical menu">
    <a class="item" href="#/users/<%%= model.id %>" >
      유저정보
    </a>
    <a class="item" data-event-name="direct-chat">
      대화하기
    </a>
    <%% if (banned) { %>
      <a class="item" data-event-name="destroy-chat-ban">
        대화차단 해제
      </a>
    <%% } else { %>
      <a class="item" data-event-name="create-chat-ban">
        대화차단
      </a>
    <%% } %>

    <%% if (is_friend) { %>
      <a class="item" data-event-name="destroy-friend">
        친구삭제
      </a>
    <%% } else { %>
      <a class="item" data-event-name="create-friend">
        친구추가
      </a>
    <%% } %>
    <a class="item" data-event-name="battle">
      대전신청
    </a>
    
    <%% if (current_user_position == "owner") { %>
      <%% if (position == "member") { %>
        <a class="item" data-event-name="give-admin-position">관리자 지정</a>
      <%% } else { %>
        <a class="item" data-event-name="remove-admin-position">관리자 해제</a>
      <%% } %>
    <%% } %>

    <%% if(["admin", "owner"].includes(current_user_position) && position != "owner" { %>
      <a class="item" data-event-name="toggle-mute"> <%%= mute ? "뮤트 설정" : "뮤트 해제" %></a>
      <a class="item" data-event-name="kick">멤버 내보내기</a>
    <%% } %>
  </div>
</script>
