<script type="text/template" id="chat-room-view-template">
<div class="chat-room-left-area flex-container center-aligned column-direction">
  <div id="chat-room-member-list-view">

  </div>
  <div id="chat-room-menu-view" class="ui vertical buttons">
    <button class="ui button disabled">채널 코드(ABC-DEF-GHI)</button>
    <button class="ui button">룸 정보 변경</button>
    <button class="ui button">채팅룸 리스트</button>
    <button class="ui button">완전히 나가기</button>
  </div>
</div>
<div class="chat-room-right-area">
  <div id="chat-room-message-list-view" class="ui minimal comments">
  
  </div>
  <form class="ui reply form user-input-field">
    <div class="field">
      <textarea class="reply-field"></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Message
    </div>
  </form>
</div>
</script>
