
<script type="text/template" id="chat-room-menu-view-template">
  <button class="ui button disabled">채널 코드(<%%= channel_code %>)</button>
  <button class="ui button owner-auth" data-event-name="change-room-info">룸 정보 변경</button>
  <button class="ui button" data-event-name="back-to-chat-room-list">채팅룸 리스트</button>
  <button class="ui button" data-event-name="leave-from-chat-room">완전히 나가기</button>
</script>