<script type="text/template" id="chat-room-card-view-template">
<div class="card-header flex-container space-between center-aligned">
  <div><i class="lock grey icon"></i></div>
  <div class="flex-container center-aligned">
    <img src="/assets/eunhkim1.png" class="ui mini circular image"/>
    <div class ="name">eunhkim</div>
  </div>
</div>
<div class="subject">우리 같이 한 번 재미나게 놀아요.</div>
<div class="flex-container space-between extra-content">
  <div class="count">
    <i class="user grey icon"></i>
    <span class="person-count">23/32</span>
  </div>
  <div class="position">
    member
  </div>
</div>
<div class="ui join button">입장하기</div>
</script>
