<script type="text/template" id="chat-room-card-view-template">
<div class="card-header flex-container space-between center-aligned">
  <div>
    <%% if( locked ) { %>
      <i class="lock grey icon"></i>
    <%% } %>
  </div>
  <div class="flex-container center-aligned">
    <img src="<%%= owner.image_url %>" class="ui mini circular image"/>
    <div class ="name"><%%= owner.name %></div>
  </div>
</div>
<div class="subject"><%%= title %></div>
<div class="flex-container space-between extra-content">
  <div class="count">
    <i class="user grey icon"></i>
    <span class="person-count"><%%= current_member_count %>/<%%= max_member_count %></span>
  </div>
<div class="position">
    <%%= current_user_position %>
  </div>
</div>
<%% if(current_user_position || current_member_count < max_member_count) { %>
  <div class="ui join button" data-room-id="<%%= id %>">입장하기</div>
<%% } else { %>
  <div class="ui disable button" data-room-id="<%%= id %>">정원초과</div>
<%% } %>
</script>
