<script type="text/template" id="chat-index-view-template">
  <div id="chat-index-header-view" class="flex-container space-between">
    <div class="flex-container create-room-button-container">
      <h2>
        My Chatroom
      </h2>
      <div class="ui teal tiny button">
        채팅룸 만들기
      </div>
    </div>
    <div class="ui labeled input">
      <div class="ui label">
        code::
      </div>
      <input type="text" placeholder="search room">
    </div>
  </div>
  <div id="my-chat-room-list-view" class="chat-room-list flex-container"></div>
  <div class="flex-container public-chat-room-list-header">
      <h2>
      Public ChatRoom
    </h2>
  </div>
  <div id="public-chat-room-list-view" class="chat-room-list flex-container"></div>
</script>
