<script type="text/template" id="chat-room-member-unit-view-template">
<a class="ui teal image label user-unit">
  <img src="<%%= image_url %>">
  <%% if(position == "owner") { %>
    <i class="chess king position icon"></i>
  <%% } else if(position == "admin") { %>
    <i class="chess rook position icon"></i>
  <%% } else { %>
    <i class="chess pawn position icon"></i>
  <%% } %>
  <%%= name %>
  <i class="microphone slash mute icon"></i>
</script>
</a>
