<script type="text/template" id="chat-room-member-menu-view-template">
 <div class="ui mini pointing vertical menu">
    <a class="item" href="#/users/<%%= user.id %>" >
      유저정보
    </a>
    <a class="item" data-event-name="direct-chat">
      대화하기
    </a>
    <a class="item" data-event-name="toggle-ban">
      대화차단 <%%= banned ? "해제" : "" %>
    </a>
    <a class="item" data-event-name="toggle-friend">
      친구<%%= is_friend ? "삭제" : "추가" %>
    </a>
    <a class="item" data-event-name="battle">
      대전신청
    </a>
    
    <%% if (current_user_position == "owner") { %>
      <%% if (user.position == "member") { %>
        <a class="item" data-event-name="give-admin-position">관리자 지정</a>
      <%% } else { %>
        <a class="item" data-event-name="remove-admin-position">관리자 해제</a>
      <%% } %>
    <%% } %>

    <%% if(["admin", "owner"].includes(current_user_position) && user.position != "owner") { %>
      <a class="item" data-event-name="toggle-mute"> <%%= user.mute ? "뮤트 해제" : "뮤트 설정" %></a>
      <a class="item" data-event-name="kick">멤버 내보내기</a>
    <%% } %>
</div>
</script>
