<script type="text/template" id="entering-chat-room-view-template">
<div id="entering-chat-room-view">
  <div class="circle">
    <div class="box">
      <div class="code">
        403
      </div>
      <div class="title">
        접근제한
      </div>
      <div class="ui text container description">
        비밀번호가 필요한 챗룸입니다. <br>
      </div>
      <a href="#/chatrooms" class="ui basic black button">
        돌아가기
      </a>
    </div>
  </div>
</div>
</script>
