<script type="text/template" id="appearance-view-template">

  <div id="user-list-area">
    <div class="ui container">
      <h3 class="ui center aligned teal header">Friends</h3>
      <div class="appearance friends-list-view">

      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui container">
      <h3 class="ui center aligned teal header">Online</h3>
      <div class="appearance online-user-list-view">
      </div>
    </div>

  </div>

  <div id="main-buttons-view" class="flex-container column-direction">
  </div>
</script>
