<script type="text/template" id="appearance-view-template">

  <%# friend list %>
  <div class="ui container" style="margin-top: 30%">
    <h3 class="ui center aligned teal header">Friends</h3>
    <div class="appearance friends-list-view">

    </div>
  </div>

  <div class="ui divider"></div>

  <%# user login list - friend까지 적용할 수 있게 %>
  <div class="ui container" style="margin-top: 20%">
    <h3 class="ui center aligned teal header">Online</h3>
    <div class="appearance online-user-list-view">
    </div>
  </div>


<%# LOGOUT %>
  <div class="ui divider"></div>

  <div class="ui container" style="margin-top: 20%">
    <div class="ui center aligned teal header logout button fluid">
      Logout
    </div>
  </div>
</script>
