<script type="text/template" id="appearance-online-user-list-view">
  <div class="ui middle aligned selection list">
    <div class="item">
      <%= render partial: 'spa/persist/appearance/sidebar_user_list_unit' %>
    </div>
    <div class="item">
      <%= render partial: 'spa/persist/appearance/sidebar_user_list_unit' %>
    </div>
  </div>
</script>
