<script type="text/template" id="appearance-user-list-unit-template">
  <div class="content header">

    <%% if ( status == "playing") { %> 
      <a class="ui yellow mini empty circular label"></a>
    <%% } else { %>
        <a class="ui green mini empty circular label"></a>
    <%% } %>
    <%%- name %>

  </div>
</script>